<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changgou.goods.api.mapper.TbAlbumMapper">
  <resultMap id="BaseResultMap" type="com.changgou.goods.api.pojo.TbAlbum">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="image_items" jdbcType="LONGVARCHAR" property="imageItems" />
  </resultMap>
</mapper>